.test {
    float: right;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.vr {
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid white;
    margin-bottom: -10px;
    height: 30px
}
